extends layout

block content
  h1= title
  p Welcome to #{title}

  .container-fluid
    .row
      - let items = results 

      each item, index in items
        .col-sm-2(onclick=`buy(${index})`)
          h3 #{item.name}
          p Location: #{item.location}
          p Description: #{item.description}

  script.
    function buy(index) {
      alert(`You purchased item ${index}`);
    }
